/**
 * PRIMARY COLORS
 * The prevalent colours used on the website.
 */

$color-black: #0B1524;
$color-darkblack: #181F2B;
$color-blue: #1B2330;
$color-darkblue: #202A3C;

$color-green: #62E0D9;
$color-red: #FF4242;
$color-white: #FFFFFF;

 
 
 /**
  * TYPOGRAPHY
  */
 
 $font-primary: 'Raleway', sans-serif;
 $font-secondary: 'Open Sans', sans-serif; 