.base__wrapper{
    display: flex;
    justify-content: center;
    line-height: 100px;

 
    img{
        width: 100%;
        
    }

    .base__container{
        text-align: center;
        align-items: center;
        display: center;
        width: 734px;
        max-width: 734px;

       
        .button__primary{
            align-items: center;
            margin: auto;
        }
    }
}

.box{

    .box__wrapper{

        .box__container {
            display: flex;
            max-width: 880px;
            flex-wrap: wrap;
            gap: 5em;
            padding-bottom: 50px;
            padding-top: auto;
            justify-content: center;

            .box__items{
                max-width: 349px;
                text-align: center;
            }

            .box__image{
                min-height: 90px;
            }

            .box__text{
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 768px) {

}




