.base__wrapper{
    display: flex;
    justify-content: center;
    line-height: 100px;
    margin-bottom: 100px;
    
 
    img{
        width: 100%;
    }

    .base__container{
        text-align: center;
        align-items: center;
        display: center;
        width: 734px;
        max-width: 734px;

       
        .button__primary{
            align-items: center;
            margin: auto;
        }
    }
}

.box{

    .box__wrapper{

        .box__container{
            display: flex;
            max-width: 880px;
            gap: 70px;

            .box__items{
                max-width: 349px;
                text-align: center;
            }

            .box__text{
                color: white;
            }
        }
    }
}


