.header__wrapper{
    position: sticky;

    .header__logo{
        position: sticky;
        float: left;
        z-index: 2;
        left: 5.99%;
        right: 86.25%;
        top: 1.38%;
        bottom: 0.44%;
        padding: 20px 20px;
    }

    

    .header__navs{
        position: sticky;
        justify-content: right;
        display: block;
        .nav__items{
            display: block;
            float: right;
            list-style-type: none;
            top: 1.38%;
            bottom: 0.44%;
            padding: 0;
            overflow: hidden;
            background-color: #1B2330;

            li{
                float: right;
            }

            li a{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #111;
              }
        }

        .socials{

        }

        .header__hamburgers{
            
        }
    }

}



.footer {
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
    background-color: #070617;
    align-items: center;
    justify-content: center;

    .desktop-logo2{
      left: 5.99%;
      right: 86.25%;
      padding: 20px 20px;
      padding-left: 0;
    }

    .form {
      position: relative;
      background-color: #15172b;
      border-radius: 20px;
      box-sizing: border-box;
      padding: 20px;
      justify-content: center;
      align-items: center;
      width: 763px;
      height: 275px;
      top: -120px;
      left: 170px;
    
    
    .title {
      color: #eee;
      font-family: sans-serif;
      font-size: 36px;
      font-weight: 600;
    }
    
    .subtitle {
      color: #eee;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }
    
    .input-container {
      height: 50px;
      position: relative;
      width: 100%;
    }
    
    .ic1 {
      margin-top: 40px;
    }
    
    .ic2 {
      margin-top: 30px;
    }
    
    .input {
      background-color: #303245;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      font-size: 18px;
      height: 100%;
      outline: 0;
      padding: 4px 20px 0;
      width: 100%;
    }
    
    .cut {
      background-color: #15172b;
      border-radius: 10px;
      height: 20px;
      left: 20px;
      position: absolute;
      top: -20px;
      transform: translateY(0);
      transition: transform 200ms;
      width: 76px;
    }
    
    .cut-short {
      width: 50px;
    }
    
    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
      transform: translateY(8px);
    }
    
    .placeholder {
      color: #65657b;
      font-family: sans-serif;
      left: 20px;
      line-height: 14px;
      pointer-events: none;
      position: absolute;
      transform-origin: 0 50%;
      transition: transform 200ms, color 200ms;
      top: 20px;
    }
    
    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
      transform: translateY(-30px) translateX(10px) scale(0.75);
    }
    
    .input:not(:placeholder-shown) ~ .placeholder {
      color: #808097;
    }
    
    .input:focus ~ .placeholder {
      color: #dc2f55;
    }
    
    .submit {
      background-color: #08d;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      font-size: 18px;
      height: 50px;
      margin-top: 38px;
      // outline: 0;
      text-align: center;
      width: 100%;
    }
    
    .submit:active {
      background-color: #06b;
    }
    }
      .col{
        width: 190px;
        height: auto;
        float: left;
        padding: 0px 20px 20px 20px;
      }
        .Fh1{
          margin: 0;
          padding: 0;
          font-family: inherit;
          font-size: 12px;
          line-height: 17px;
          padding: 20px 0px 5px 0px;
          color: rgba(255,255,255,0.2);
          font-weight: normal;
          text-transform: uppercase;
          letter-spacing: 0.250em;
          }

          ul{
          list-style-type: none;
          margin: 0;
          padding: 0;
          }

          ul li{
          justify-content: center;  
          align-items: center;  
          color: #999999;
          font-size: 14px;
          font-family: inherit;
          font-weight: bold;
          padding: 5px 0px 5px 0px;
          cursor: pointer;
          transition: .2s;
          -webkit-transition: .2s;
          -moz-transition: .2s;
          }

          ul li:hover {
            color: #ffffff;
            transition: .1s;
            -webkit-transition: .1s;
            -moz-transition: .1s;
          }      

      .colSocial{
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;

        ul li{
          display: inline-block;
          padding-right: 5px;

        }
        }
        .clearfix {
          clear: both;
        }
      
      }
    

    


  
 



@media only screen and (max-width: 768px) {

}