.header__wrapper{
    position: sticky;
    .header__logo{
        float: left;
        z-index: 2;
        left: 5.99%;
        right: 86.25%;
        top: 1.38%;
        bottom: 0.44%;

    }

    .header__navs{
        justify-content: right;
        display: block;
        left: 90%;
        .nav__items{
            display: block;
            list-style-type: none;
            top: 1.38%;
            bottom: 0.44%;
            padding: 0;
            overflow: hidden;
            background-color: #1B2330;

            li{
                float: right;
            }

            li a{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #111;
              }
        }

        .socials{

        }

        .header__hamburgers{
            
        }
    }

}

@media only screen and (max-width: 768px) {

}